.DS_store

npm-debug.log.*
client/npm-debug.log.*
client/node_modules/*
!client/node_modules/font-awesome
client/dist/*

server/.config.json
server/.dist
server/.jshintignore
server/.npm
server/.project
server/.sessions.json
server/.settings
server/.tern-project
server/*.backup
server/*_cred*
server/coverage
server/credentials.json
server/nodes/node-red-nodes/
server/node_modules
server/public
server/locales/zz-ZZ
server/nodes/core/locales/zz-ZZ
