@import "./../../scss/variables.scss";

.snapshot-detail {
  font-weight: 700;
  font-family: $font-narrow;
  padding: 4px 8px;
  border-radius: 2px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  > .body {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-flex-direction: row;    /* Safari 6.1+ */
            flex-direction: row;    /* NEW, Spec - Opera 12.1, Firefox 20+ */

    > .left {

      width: 50%;
    }
    > .right {
      padding-left: 8px;
      width: 50%;

      .question {
        padding: 2px 0;
      }
      .answer {
        width: 100%;
        margin-bottom: 4px;
        padding: 1px 4px;
      }

      .group {
        padding: 2px 0;
        display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;           /* TWEENER - IE 10 */
        display: -webkit-flex;          /* NEW - Chrome */
        display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

        -webkit-flex-direction: row;    /* Safari 6.1+ */
                flex-direction: row;    /* NEW, Spec - Opera 12.1, Firefox 20+ */

        -webkit-align-content: space-between;
                align-content: space-between;
        > button {
          flex-grow: 1;

          cursor: pointer;
          border: none;
          outline: none;
          border-radius: 2px;

          color: $white;
          font-family: $font-narrow;
          font-weight: 700;
          font-size: $font-small;

          padding: 1px 6px 3px 6px;

          &:not(:last-child) {
            margin-right: 8px;
          }

          &.green {
            background-color: #5cb85c;
            &:hover {
              background-color: #449d44;
            }
          }

          &.red {
            background-color: #d9534f;
            &:hover {
              background-color: #c9302c;
            }
          }
        }
      }
    }
  }
}
